@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, black, rgb(30, 30, 30));
}
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}
.logo span{
    color: gray;
    text-shadow: 0 0 10px gray;
}
.hamburg, .cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    font-size: 2rem;
    display: none;
}
.nav-container .links {
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}
.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: gray;
    transition: 0.2s linear;
}
.nav-container .links a:hover::before{
    width: 100%;
}
.nav-container .contact-btn{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid gray;
    transition: 0.2s linear;
}
.nav-container .contact-btn a{
    color: white;
    transition: 0.3s linear;
}
.nav-container .contact-btn:hover, .nav-container .contact-btn:hover a{
    background-color: gray;
    color: black;
}
.nav-container .links a:hover{
    color: gray;
}
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}
.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}
.dropdown .links a:hover{
    background-color: gray;
}
section{
    width: 100%;
    height: 90vh;
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-container .image{
    z-index: -1;
    width: 30%;
}
.main-container .image img{
    width: 100%;
}
.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}
.content h1{
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}
.content h1 span{
    color: gray;
    text-shadow: 0 0 10px gray;
}
.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
}
.content .typewriter span{
    color: gray;
    font-size: 2.5rem;
    text-shadow: 0 0 5px gray;
    position: relative;
    transition: 0.3s linear;
}
.typewriter span::before{
    content: "Developer";
    animation: words 15s infinite;
}
.typewriter span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid white;
    animation: cursor 0.6s linear infinite;
}
@keyframes cursor {
    to{
        border-left: 3px solid gray;
    }
}
@keyframes words {
    0%, 33%{
        content: "Developer";
    }
    34%, 66%{
        content: "Designer";
    }
    67%, 100%{
        content: "Youtuber";
    }
}
.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}
.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid gray;
    border-radius: 50%;
    color: gray;
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: gray;
    filter: drop-shadow(0 0 10px gray);
}
.content button{
    width: 60%;
    height: 6vh;
    margin: 30px;
    background-color: gray;
    color: black;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}
.content button:hover{
    scale: 1.1;
    color: gray;
    border: 2px solid gray;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px gray;
}